@page "/"

<h1>Üdv!</h1>

<p>
    Itt fogok közzétenni olyan publikus információkat, amelyek segítségedre lehetnek. Ha BME VIK hallgató vagy, és nálam végzed/végeznéd az önálló tárgyaid (Önálló laboratórium/Szakdolgozat/Diplomaterv) valamelyikét, akkor ajánlom figyelmedbe a <a href="temak">Téma infók</a> oldalt. Nem elképzelhetetlen, hogy itt fogok kipróbálni különböző technikai újdonságokat/érdekességeket is. Természetesen bátran kérdezhetsz tőlem akár ezzel kapcsolatban is a megszokott csatornákon.
</p>

<p>
    Érdemes lehet tudnod, hogy ez az oldal jelenleg kizárólag statikus tartalmat szolgál ki és nem kommunikál külső szolgáltatással, ezért nem tárolok/kezelek rólad itt semmilyen információt, és nem használok sütiket :)
</p>